<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.marqueteriadondefreddy">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EliminarServicio"></activity>
        <activity android:name=".EliminarProducto" />
        <activity android:name=".ModificarServicio" />
        <activity android:name=".ModificarProducto" />
        <activity android:name=".AgregarServicio" />
        <activity android:name=".AgregarProducto" />
        <activity android:name=".Eliminar" />
        <activity android:name=".Modificar" />
        <activity android:name=".Agregar" />
        <activity android:name=".Servicios" />
        <activity android:name=".Productos" />
        <activity android:name=".PantallaPrincipal" />
        <activity android:name=".Recuperacion" />
        <activity android:name=".Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>